#flow-chart {
    width: 100%;
    height: 400px;
    overflow: auto;
    position: relative;
    background-color: rgb(201, 198, 198);
}  

::ng-deep .rectangle {
    position: absolute;
    border: 5px solid #a2a2a2;
    color: black;
    width: 300px;
    height: 200px;
    padding: 1.0rem;

    // .header {

    // }

    // .sub-header {
        
    // }

    // .description {

    // }
}



::ng-deep .line {
    position: absolute;
    background-color: #a2a2a2;
    height: 5px;
}

::ng-deep .circle {
    position: absolute;
    border: 5px solid #a2a2a2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}